.sidedrawer__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 700px;
  height: 100vh;
  background: #ffa73e;
  transform: skew(-7deg);
  box-sizing: border-box;
  padding: 50px 10%;
  color: #fff;
  z-index: 5;
  transition: all 0.3s ease-out;
  font-family: Exo, sans-serif;
  overflow-y: auto;
  & p {
    font-size: 20px;
    font-weight: 400;
  }
}

.sidedrawer__btn {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background: #f6b260;
    padding: 8px 14px;

}

.sidedrawer__content {
  transform: skew(7deg);
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  cursor: cursor;
}
