.contentBox {
    margin: 120px;
}

@media (max-width: 1000px) {
    .contentBox {
        margin: 70px 2px !important;
    }
}

@media (max-width: 600px) {
    .contentBox {
        margin: 70px 0;
    }
}